*{
    border:0px;
    margin:0px;
    padding:0px;
}

body{
    background-color:#d8b9aa ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reproductor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    background-color:#686573;
    width: 193vh;
    height: 5em;
    padding:0.4em 1em 0.4em 1em;
}

.imagen-repro{
    display: flex;
    align-items: center;
    margin-left: 8em;
}
.caratula img{
    width: 30em;
    border-radius:50%;
    animation-name: girar;
    animation-play-state: paused;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-timing-function: linear;
}

.controles{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.controles button{
    background-color: transparent;
    cursor: pointer;
}

.control{
    color:#DEDCDE;
    font-size: 1.7em;
}

.volume{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.volume input{
    cursor: pointer;
}

@keyframes girar{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.container-controles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 100%;
    cursor: pointer;
}

.main-container{
    margin-top: 80px;
}
.main-menu{
    width: 193vh;
    height: 60px;
    background-color:#686573;
    position: fixed;
    top: 0px;
}
.container{
    display: flex;
    margin-bottom: 50px;
    margin-top:50PX;
}
.list-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item{
    background-color: #6a667a;
    width: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.list-item img{
    width: 100px;
    height: 100px;
}
.data{
    margin-left: 2em;
    color: #d6d7dc;
}
.filter-genere {
    margin-left: 2em;
    padding: 0.5em;
    background-color: #71879a;
    color:#d6d7dc;
    width: 300px;
}